<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>CSCI5308 - Group Formation Tool</title>
</head>
<body>
<div class="w3-container">
        <div sec:authorize="isAuthenticated()">
            <h4 th:inline="text">BannerID: [[${#httpServletRequest.remoteUser}]]</h4>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
        <div class="w3-container">
            <h2>Basic Question Information</h2>
            <form th:action="@{/question/questionanswer}" th:object="${question}" method="get">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" th:field="*{title}" style="width: 40%" required> <br>
                <label for="question">Question:</label>
                <input type="text" id="question"th:field="*{text}" name="question" style="width: 40%" required><br>
                <label for="questiontype">Choose a car:</label>
                <select name="questiontype" id="questiontype" th:field="*{type}" required>
                    <option value="" selected disabled>Select question type</option>
                    <option th:value="1">Numeric</option>
                    <option th:value="2">Multiple choice - choose one</option>
                    <option th:value="3">Multiple choice - choose multiple</option>
                    <option th:value="4">Free text</option>
                </select><br>
                <input type="submit" value="next">
            </form>
        </div>
</div>
</body>
</html>