<%# page language="java" contentType="text/html; charset=UTF-8"
pageEncoding="UTF-8"%>
<%#taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<!--<!DOCTYPE html>-->
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>CSCI5308 - Group Formation Tool</title>
</head>
<body>

<div class="w3-container">

    <div sec:authorize="isAuthenticated()">
        <h4 th:inline="text">BannerID: [[${#httpServletRequest.remoteUser}]]</h4>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div class="w3-container">
        <p> <b>Qution entered is</b></p>
        <p th:text="${question.title}"></p>
        <h2>Answers</h2>
        <form th:action="@{/question/createquestion}">
            <table>
                <thead>
                <tr>
                    <td>
                        Display text
                    </td>
                    <td>
                        Stored As
                    </td>
                </tr>
                </thead>
                <tbody id="optiontable">
                <tr>
                    <td><input type="text" required></td>
                    <td><input type="number" required></td>
                </tr>
                </tbody>
            </table>
            <br>
            <pre></pre>
            <button type="button" onclick="myFunction()">more answers</button>
            <input type="submit" value="save">
            <script>
                function myFunction() {
                    var table = document.getElementById("optiontable");
                    var row = table.insertRow(-1);
                    var cell1 = row.insertCell(0)
                    var cell2 = row.insertCell(1);
                    cell1.innerHTML = "<input type=\"text\" required>"
                    cell2.innerHTML = "<input type=\"number\" required>";
                }
            </script>
        </form>
    </div>
</div>
</body>
</html>