<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Courses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<nav th:replace="userlayout :: usernavbar"></nav>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${courses}" class="container my-5">
                <div class="col-md-10">
                    <h2 th:case="null">No record found !!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Course Number</th>
                                <th>Course Name</th>
                                <!-- <th>Instructor</th> -->
                                <th th:switch="${role}" th:case="'instructor'">Tools</th>
                                <th th:switch="${role}" th:case="'teacher_assistant'">Tools</th>
                                <!-- <th>Delete</th> -->
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="c : ${courses}">
                                <td th:text="${c.courseNumber}"></td>
                                <td th:text="${c.courseName}"></td>
                                <!-- <td th:text="${c.instructor}"></td> -->
                                <td th:switch="${role}" th:case="'instructor'">
                                	<form method="GET" th:action="@{/administercourse/courseadministerpage/{courseNumber}(courseNumber=${c.courseNumber})}">
							            <button type="submit" name="submmit" value="value" class="btn btn-primary">
							            	Manage
							            </button>
							        </form>
                                </td>
                                <td th:switch="${role}" th:case="'teacher_assistant'">
                                	<form method="GET" th:action="@{/administercourse/courseadministerpage/{courseNumber}(courseNumber=${c.courseNumber})}">
							            <button type="submit" name="submmit" value="value" class="btn btn-primary">
							            	Manage
							            </button>
							        </form>
                                </td>
                                <!-- <td>
                                    <a th:href="@{/delete/{id}(id=${c.courseNumber})}"
                                       class="btn btn-primary">
                                        <i class="fas fa-user-times ml-2"></i>
                                    </a>
                                </td> -->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>