<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Courses</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<style type="text/css">
#manageTab .tab-content {
	color: white;
	background-color: #428bca;
	padding: 5px 15px;
}
}
</style>
</head>

<body>
	<!-- <nav th:replace="userlayout :: usernavbar"></nav> -->
	<nav th:fragment="usernavbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	    </button>
	
	    <a class="navbar-brand">Software Development Project</a>
	
	    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
	        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	            <li class="nav-item">
	                <a class="nav-link" th:href="@{/}">Home </a>
	            </li>
				<li class="nav-item active">
	                <!-- <a class="nav-link" th:href="@{/course/courselisting}">Course</a> -->
	                <a class="nav-link" href="#">Course</a>
	            </li>
	
	            <li class="nav-item">
	                <a class="nav-link" th:href="@{/user/logout}">Logout</a>
	            </li>
	        </ul>
	    </div>
	</nav>
	
	<div class="container">
		<div class="card">
			<div class="card-body">
				<div id="manageTab" class="container">
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item"><a class="nav-link active"
							id="add-students-tab" data-toggle="tab" href="#add-students"
							role="tab" aria-controls="home" aria-selected="true">Add
								Students</a></li>
						<li class="nav-item"><a class="nav-link" id="assign-tas-tab"
							data-toggle="tab" href="#assign-tas" role="tab"
							aria-controls="home" aria-selected="true">Assign TAs</a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active" id="add-students" role="tabpanel"
							aria-labelledby="add-students-tab">
							<h2>Upload a CSV File</h2>
							<!-- <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p> -->
							<form method="post"
								th:action="@{/administercourse/addstudents/{courseNumber}(courseNumber=${courseNumber})}"
								enctype="multipart/form-data">
								<div class="form-group">
									<input type="file" name="file" required class="form-control-file" accept=".csv">
								</div>
								<button type="submit" class="btn btn-primary">Upload
									File</button>
							</form>
						</div>
						<div class="tab-pane" id="assign-tas" role="tabpanel"
							aria-labelledby="assign-tas-tab">
							<!-- <label class="mdb-main-label">Label example</label>
						    <button class="btn-save btn btn-primary btn-sm">Save</button> -->
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>