<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Group 1 Software Development application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<nav th:replace="layout :: samplenavbar"></nav>

<pre>

</pre>
<div class="container">
    <h2>Something went wrong.</h2>
    <p class="text-center" th:if="${tokenError}"> Token is expired. Please try again to reset your password</p>
</div>
</body>
</html>
